---
layout: default
galleries:
  - title: Link to homepage
    image: /img/photoportfolio/16109952671276.png
    url: https:www.gizmodo.com
  - title: Link to image gallery
    image: /img/photoportfolio/16109952671277.png
    url: https://www.techcrunch.com
---

<div class="header-bar">
  <h1>Bwands</h1>
  <h2>Window shopping and brand discovery online.</h2>
  <br/>
  <hr>
  <br/>
</div>


{% for project in site.portfolio limit: 20 %}

{% if project.redirect %}
<div class="project">
    <div class="thumbnail">
        <a href="{{ project.redirect }}" target="_blank">
        {% if project.img %}
        <img class="thumbnail" src="{{ site.baseurl }}{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>
{% else %}

<div class="project ">
    <div class="thumbnail">
        <a href="{{ site.baseurl }}{{ project.url }}">
        {% if project.img %}
        <img class="thumbnail" src="{{ site.baseurl }}{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>

{% endif %}

{% endfor %}

{% if page.galleries %}{% include image-gallery-index.html %}{% endif %}