<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/c705696c53698289981c9fbe3/c4e858a885a3f981fff8244c7.js");</script>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}
	</head>
	<body>
		<div class="container">	
				{{ partial "header.html" . }}
			<div class="main">
				<ul id="og-grid" class="og-grid">
					{{ range $.Site.Data.items.items }}
					<li>
						<a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
							<img src="{{.thumb}}" alt="{{.alt}}"/>
						</a>
					</li>
					{{ end }}
				</ul>
				{{ partial "footer.html" . }}
			</div>
		</div>
		{{ partial "scripts.html" . }}
	</body>
</html>